.FDONG {
  margin: auto;
  width: 500px;
  text-align: left;
  font-family: Arial;
  line-height: 16px;
  background: #a9a9a9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.FDONG a {
  text-decoration: none !important;
}
.cdtFDONG {
  position: absolute;
  z-index: 5;
  margin-top: 105px;
  margin-left: -12px;
  transform: scale(0);
  transition: all 0.45s ease;
}
.FDONG:hover .cdtFDONG {
  transform: scale(0.7);
}
.imgFDONG {
  width: 500px;
  height: 270px;
  overflow: hidden;
}
.imgFDONG img {
  width: 500px;
  min-height: 270px;
}
.abtFDONG {
  width: 250px;
  display: inline-block;
  vertical-align: top;
}
.abtFDONG .tleFDONG {
  width: 240px;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 20px;
  background: rgba(250, 250, 250, 0.5);
  color: black;
}
.abtFDONG:hover .tleFDONG {
  background: rgba(250, 250, 250, 0.7);
}
.abtFDONG .boxFDONG {
  position: absolute;
  margin-top: -300px;
  width: 470px;
  height: 240px;
  padding: 15px;
  overflow: hidden;
  transform: scale(0);
  transition: all 0.45s ease;
}
.abtFDONG:hover .boxFDONG {
  transform: scale(1);
}
.infosFDONG {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.infosFDONG span {
  display: block;
  margin-bottom: 10px;
  width: 200px;
  height: 15px;
  padding: 5px 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
}
.infosFDONG a {
  display: block;
  width: 200px;
  height: 15px;
  padding: 5px 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  background: white;
  color: black;
}
.storyFDONG {
  display: inline-block;
  vertical-align: top;
  width: 245px;
  height: 155px;
  padding: 5px;
  overflow: hidden;
  text-align: justify;
  font-size: 11px;
  line-height: 14px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
}
.storyFDONG:hover {
  overflow-y: auto;
}
.adjFDONG {
  margin-top: 15px;
}
.adjFDONG span {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 113px;
  height: 16px;
  padding: 5px 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
}
.adjFDONG span:nth-of-type(4) {
  margin-right: 0;
}
.adjFDONG span:nth-of-type(8) {
  margin-right: 0;
}
.searchFDONG {
  position: absolute;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}
.searchFDONG .tleFDONG {
  width: 240px;
  height: 20px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
}
.searchFDONG:hover .tleFDONG {
  background: rgba(0, 0, 0, 0.4);
}
.searchFDONG .boxFDONG {
  position: absolute;
  margin-left: -240px;
  margin-top: -290px;
  width: 460px;
  height: 230px;
  padding: 10px;
  overflow-y: auto;
  text-align: justify;
  font-size: 11px;
  line-height: 18px;
  transform: scale(0);
  transition: all 0.45s ease;
  background: white;
  color: black;
}
.searchFDONG:hover .boxFDONG {
  transform: scale(1);
}

/* LIENS */
.DONG {
  margin: auto;
  width: 500px;
  text-align: left;
  font-family: Arial;
  line-height: 16px;
}
.cdtDONG {
  position: absolute;
  z-index: 3;
  margin-top: 45px;
  margin-left: -12px;
  transform: scale(0);
  transition: all 0.5s;
}
.DONG:hover .cdtDONG {
  transform: scale(0.7);
}
.DONG a {
  text-decoration: none !important;
}
.lksDONG {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  width: 245px;
  height: 150px;
  overflow: hidden;
}
.lksDONG:nth-of-type(even) {
  margin-left: 10px;
}
.imgDONG {
  width: 245px;
  height: 120px;
  overflow: hidden;
}
.imgDONG img {
  width: 245px;
  min-height: 120px;
}
.abtDONG {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.abtDONG span {
  display: block;
  width: 110px;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 22px;
  background: rgba(250, 250, 250, 0.5);
}
.abtDONG:hover span {
  background: rgba(250, 250, 250, 0.7);
}
.boxDONG {
  position: absolute;
  z-index: 2;
  margin-top: -150px;
  width: 225px;
  height: 100px;
  padding: 10px;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 0.75s ease;
}
.boxDONG div {
  margin-bottom: 5px;
  width: 215px;
  height: 11px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  line-height: 12px;
}
.abtDONG:hover .boxDONG {
  opacity: 1;
  transform: scale(1);
}
.rsDONG {
  display: inline-block;
  vertical-align: top;
}
.rsDONG span {
  display: block;
  width: 115px;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 22px;
}
.rsDONG:hover span {
  background: rgba(0, 0, 0, 0.2);
}
.rsDONG div {
  position: absolute;
  z-index: 2;
  margin-top: -150px;
  margin-left: -120px;
  width: 235px;
  height: 110px;
  padding: 5px;
  overflow-y: auto;
  text-align: justify;
  font-size: 10px;
  line-height: 16px;
  transform: scale(0);
  transition: all 0.45s ease;
}
.rsDONG:hover div {
  transform: scale(1);
}
.infosFDONG span {
  background: white;
  color: black;
}
.adjFDONG span {
  background: #191919;
  color: white;
}
