.THROW {
  margin: auto;
  width: 500px;
  padding: 20px 0;
  line-height: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.tleTHROW {
  margin: auto;
  width: 450px;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Raleway;
  line-height: 24px;
}
/* FT */
.ftTHROW {
  margin: 15px auto;
  width: 500px;
  height: 150px;
  overflow: hidden;
  text-align: center;
}
.ftTHROW img {
  width: 500px;
  height: 150px;
}
.ftTHROW:hover img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.ftTHROW p {
  position: absolute;
  margin-top: -150px;
  width: 500px;
  height: 90px;
  padding-top: 60px;
  font-family: Raleway;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
.ftTHROW:hover p {
  opacity: 1;
}
.msgTHROW {
  margin: auto;
  width: 440px;
  padding: 10px;
  font-size: 11px;
  text-align: justify;
  font-family: Calibri;
}
/* DIALOGUE GAUCHE */
.UITHROW {
  margin: 5px 0 5px -45px;
  width: 455px;
  padding: 10px 10px 10px 20px;
  transition: all 0.45s linear;
  -webkit-transition: all 0.45s linear;
}
.UITHROW::before {
  content: "";
  position: absolute;
  margin-top: -25px;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent;
  border-bottom-color: black;
}
/* DIALOGUE DROITE */
.UIITHROW {
  margin: 5px 0;
  width: 455px;
  padding: 10px 20px 10px 10px;
  transition: all 0.45s linear;
  -webkit-transition: all 0.45s linear;
}
.UIITHROW::before {
  content: "";
  position: absolute;
  margin-top: -25px;
  margin-left: 460px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent;
  border-left-color: black;
}
.cdtTHROW {
  position: absolute;
  z-index: 3;
  margin-left: 485px;
  margin-top: 85px;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: transform ease-in-out 0.75s;
  -webkit-transition: -webkit-transform ease-in-out 0.75s;
}
.THROW:hover .cdtTHROW {
  transform: scale(1);
  -webkit-transform: scale(1);
}
