@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Roboto+Slab&display=swap");

.YPL {
  margin: auto;
  width: 500px;
  line-height: normal;
}
.bannYPL {
  border-bottom: 5px solid;
  border-color: var(--main-color);
}
#ftYPL {
  position: absolute;
  z-index: 2;
  margin-top: 25px;
  width: 500px;
  height: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
  transition-delay: 0s;
}
.bannYPL:hover #ftYPL {
  opacity: 1;
  transition-delay: 0.75s;
}
.ftYPL {
  display: inline-block;
  vertical-align: middle;
  margin: auto 10px;
  height: 100px;
  width: 100px;
}
.ftYPL p {
  position: relative;
  z-index: 5;
  margin-top: -100px;
  width: 90px;
  height: 65px;
  padding: 35px 5px 0;
  overflow: hidden;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto Slab";
  opacity: 0;
  transition: opacity 0.55s;
  background: rgba(0, 0, 0, 0.7);
  color: var(--main-second);
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}
#ftYPL:hover .ftYPL p {
  opacity: 1;
}
.ftYPL img {
  position: relative;
  z-index: 4;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  opacity: 1;
  transition: all 0.65s linear;
}
.tlewrapYPL {
  position: absolute;
  z-index: 4;
  width: 500px;
  height: 150px;
  overflow: hidden;
  font-size: 28px;
  text-align: center;
  font-family: Asap;
  line-height: 26px;
  transform: scale(1);
  transition: all 0.65s ease;
  transition-delay: 0.85s;
}

.tleYPL {
  position: relative;
  top: 20px;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--main-color-alpha);
  border-radius: 20px;
}

.bannYPL:hover .tlewrapYPL {
  height: 0;
  opacity: 0;
  transform: scale(0.5);
  transition-delay: 0s;
}
.tleYPL p {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.tleYPL .titleYPL {
  color: var(--main-second);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.tleYPL .alignementYPL {
  color: var(--main-fifth);
  font-size: 24px;
}
.bgIYPL {
  width: 500px;
  height: 150px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  transition: all 0.65s ease;
  border-color: var(--main-fourth);
  border-radius: 15px 15px 0 0;
}
.bannYPL:hover .bgIYPL {
  opacity: 0.8;
  filter: grayscale(0.3);
}
.msgYPL {
  padding: 20px 35px 30px 35px;
  border-radius: 0 0 30px 30px;
  text-align: left;
  font-size: 13px;
  font-family: "Roboto Slab";
  line-height: 20px;
  background: var(--main-first);
  color: var(--main-second);
  text-indent: 20px;
}
.cdtYPL {
  position: absolute;
  z-index: 5;
  margin-left: -15px;
  margin-top: 45px;
  transform: scale(0);
  transition: transform ease-in-out 0.75s;
}
.YPL:hover .cdtYPL {
  transform: scale(1);
}

.emlYPL {
  margin: 20px 0 20px -50px;
  padding: 10px 10px 10px 20px;
  font-size: 13.5px;
  background-color: var(--main-color);
  color: var(--main-second);
  border-radius: 0px 15px 15px 15px;
}

.emlYPL::before {
  content: "";
  position: absolute;
  margin-top: -25px;
  margin-left: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent;
  border-bottom-color: var(--main-fourth);
}

.emrYPL {
  margin: 20px -50px 20px 0px;
  padding: 10px 20px 10px 10px;
  font-size: 13.5px;
  background-color: var(--main-right-em);
  color: var(--main-second);
  border-radius: 15px 0px 15px 15px;
}

.emrYPL::before {
  content: "";
  position: absolute;
  margin-top: -25px;
  margin-left: 435px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent;
  border-left-color: var(--main-fourth);
}
